<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Is baby:</strong>
    <%= pokemon.is_baby %>
  </p>

  <p>
    <strong>Is legendary:</strong>
    <%= pokemon.is_legendary %>
  </p>

  <p>
    <strong>Is mythical:</strong>
    <%= pokemon.is_mythical %>
  </p>

</div>
